<body>
    <% user = User.find(params['id']) %>


<div class="row justify-content-center">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://pixabay.com/get/55e6d0434a5aac14f6da8c7dda35367b1d37d7e15b587140_1280.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title text-center">Infos utilisateurs</h5>
<p class="card-text text-center"><%= user.first_name%> <%= user.last_name%></p>  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item text-center"><%= user.email%></li>
    <li class="list-group-item"><%= user.description%></li>
    <li class="list-group-item text-center">Age : <%= user.age%></li>


    <li class="list-group-item text-center"> <%= user.city.name%> <br/>
    <%= link_to "Infos sur la ville", city_path(user.city.id) %>
    </li>

</div>
</div> 
      
  </body>
    